<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>{{link-to 'Resumér' 'jobs.index'}}</h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {{#if session.isAuthenticated}}
        <li><a {{ action 'invalidateSession' }}>Logout</a></li>
      {{else}}
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        <li>{{#link-to 'registration'}}Sign Up{{/link-to}}</li>
      {{/if}}
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      {{#if session.isAuthenticated}}
      {{#link-to "jobs" tagName="li"}}
        <a>Jobs</a>
      {{/link-to}}
      {{/if}}
    </ul>
  </section>
</nav>

<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    {{outlet}}
  </div>
</div>
